<!doctype HTML>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;

    .img{
      background-image: url('images/word-counter.jpg')
    }

  </style>
</head>
<body>
    <div> <h1> <center>This is the word count page</center></h1> </div>
    <div> <h1> <center>This is Aishwary and I have created this website to count the words </center></h1> </div>
    <div> <h3> <center>The most common words have the highest number</center> </h3>
    <div> <h3><center>Let's start counting</center> </h3> </div>
  <div> <center> <a href="{% url "home" %}"><button type="button" name="Back To Home">Back To Home</button></a> </center> </div>
  </body>
</html>
